<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,200;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/candidatar.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Candidatar</title>
</head>

<body>
    <header class="header-area">
        <div class="header-container">
          <div class="logo">
            <a href="#"><img src="../images/logo.png" alt="logo"></a>
          </div>
          <div class="mobile-nav">
            <label for="menuTrigger" class="nav-ico"><i class="fa fa-bars"></i></label>
            <input type="checkbox" id="menuTrigger">
           <nav class="nav-menu">
            <ul>
                <li><a href="../view/minhasVagas.html" class="">Minhas Vagas</a></li>
                <li><a href="../view/oportunidades.html" class="">Oportunidades</a></li>
                <li><a href="" class="">Gerenciar Perfil</a>
                    <i class="fa fa-caret-down"></i>
                    <ul>
                        <li><a href="../view/gerenciarPerfil.html">Editar Perfil</a></li>
                        <li><a href="../view/curriculo.html">Editar Currículo</a></li>                     
                    </ul>   
                   </li>
                <li><a href="../view/contato.html" class="">Contato</a></li>
               <li><a href="../view/login.html" class="">Sair</a></li>
            </ul>
          </nav>
         </div>
        </div>
      </header>  
    <div class="container-desc" id="container-desc" >

    <!-- Controller preenche dinamicamente-->
       
    </div>


   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../controllers/CandidatarController.js" type="module"></script>
    <script src="../model/Inscricao.js"></script>

</body>

</html>