<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Criar Conta</title>
</head>

<body>
    <div class="flip-scale-down-ver" id="login-container">
        <h1>Cadastre-se!</h1>
        <div id="msgSucesso"></div>
        <form id="formCad1" class="needs-validation" action="#formcad2" style="display: block;">
            <label id="labelEmail" for="email">E-mail</label>
            <input name="email" id="email" class="input" placeholder="Informe seu e-mail" data-tipo="email"
                title="Insira um email válido" required>
            <label id="labelNome" for="nome">Nome Completo</label>
            <input name="nome" id="nome" class="input" placeholder="Insira seu nome aqui" data-tipo="nome"
                title="Insira seu nome completo" required>
            <label id="labelSenha" for="password">Senha</label>
            <input type="password" name="password" class="senha" id="senha" placeholder="Digite sua senha"
                data-tipo="senha" required>
            <label id="labelConfirmSenha" for="passconfirmation">Confirme sua senha</label>
            <input type="password" name="passconfirmation" id="passconfirmation" data-tipo="confirmaSenha"
                placeholder="Confirme sua senha" required>
            <input class="heartbeat" type="submit" value="Próximo Passo" class="btn-proximo">
        </form>
        <form class="bounce-top" id="formCad2" action="login.html" style="display: none;">
            <label id="labelCPF" for="cpf">CPF </label>
            <input type="text" name="cpf" id="cpf" placeholder="000.000.000-00" data-tipo="cpf" required>
            <label id="labeldataNasc" for="dataNasc">Data de Nascimento</label>
            <input id="dataNasc" type="date" name="dataNasc"  required>
            <label id="labelCelular" for="celular">Celular </label>
            <select name="codcel" id="codcel">
                <option value="BR55">BR +55</option>
            </select>
            <input type="text" name="numCel" id="numCel" placeholder="(__)_____-____" data-tipo="celular" required>
            <label id="labelCEP" for="cep">CEP</label>
            <input type="text" name="cep" id="cep" maxlength="8" data-tipo="cep">
            <label id="labelLogradouro" for="logradouro">Logradouro</label>
            <input type="text" name="logradouro" id="logradouro" data-tipo="logradouro">
            <label id="labelBairro" for="bairro">Bairro</label>
            <input type="text" name="bairro" id="bairro" data-tipo="bairro">
            <label id="labelCidade" for="cidade">Cidade</label>
            <input type="text" name="cidade" id="cidade" data-tipo="cidade">
            <label id="labelEstado" for="estado">Estado</label>
            <input type="text" name="estado" id="estado" data-tipo="estado">
            <label id="labelPais" for="pais">País de Origem </label>
            <select name="pais" id="pais">
                <option value="Brasil">Brasil</option>
            </select>
            <label id="labelgenero" for="genero">Gênero</label>
            <select name="genero" id="genero" required>
                <option selected disabled value="">Selecione</option>

                <option value="feminino">Feminino</option>
                <option value="masculino">Masculino</option>
                <option value="outro">Outro</option>
                <option value="prefiro não dizer">Prefiro não dizer</option>
            </select>
            <label id="labelarea" for="area">Area de Interesse</label>
            <select name="area" id="area" required>
                <option selected disabled value="">Selecione</option>
                <option value="todas">Todas</option>
                <option value="TI">TI</option>
                <option value="administrativo">Administrativo</option>
                <option value="financeiro">Financeiro</option>
                <option value="humano">Humano</option>
                <option value="juridico">Jurídico</option>
                <option value="producao">Produção</option>
            </select>


            <input type="checkbox" name="termosdeuso" id="termosdeuso" required>
            <label for="termosdeuso" id="termosdeuso-label">Eu li e aceito os <a href="../docs/POLÍTICA DE PRIVACIDADE PARA CANDIDATOS.pdf" target="_blank">termos de uso da G5Tech</a></label>
            <input type="checkbox" name="politica-privacidade" id="politica-privacidade" required>
            <label for="politica-privacidade" id="privacidade-label">Eu li e concordo com a <a href="../docs/POLÍTICA DE PRIVACIDADE PARA CANDIDATOS.pdf" target="_blank">politica de privacidade da G5Tech</a></label>




            <input type="submit" value="Criar Conta" class="btn-criar-conta heartbeat">
        </form>
        <div id="registro">
            <p>Já possui uma conta?</p>
            <a href="../view/login.html" rel="next">Entrar com e-mail e senha</a>
        </div>
    </div>
    <script src="../utils/Utils.js"></script>
    <script src="../app.js" type="module"></script>
    <script src="../model/Candidato.js"></script>
    <script src="../controllers/CadastroController.js" type="module"></script>
</body>

</html>