<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Processos Seletivos</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="../styles/gerenciarProcesso.css">
  <link rel="stylesheet" href="../styles/header.css">
</head>

<body>

  <header class="header-area">
    <div class="header-container">
      <div class="logo">
        <a href="#"><img src="../images/logo.png" alt="logo"></a>
      </div>
      <div class="mobile-nav">
        <label for="menuTrigger" class="nav-ico"><i class="fa fa-bars"></i></label>
        <input type="checkbox" id="menuTrigger">
        <nav class="nav-menu">
          <ul>
            <li><a href="#" class="">Solicitação de Vaga</a>
              <i class="fa fa-caret-down"></i>
              <ul>
                <li><a href="../view/solicitarAberturaVaga.html">Solicitar Vaga</a></li>
                <li><a href="../view/solicitacoesEnviadas.html">Ver Solicitações</a></li>
                <li><a href="../view/avaliarSolicitacao.html">Avaliar Solitações</a></li>
              </ul>
            </li>
            <li><a href="#" class="">Processo Seletivo</a>
              <i class="fa fa-caret-down"></i>
              <ul>
                <li><a href="../view/gerenciarProcessoSeletivo.html">Gerenciar Processo</a></li>
                <li><a href="../view/progressoEmpresa.html">Ver Progresso</a></li>
                <li><a href="../view/listarCandidatos.html">Listar Candidatos</a></li>
                <li><a href="../view/testes.html">Agendar Teste</a></li>
                <li><a href="../view/classificarCandidatos.html">Classificar Candidatos</a></li>
                <li><a href="../view/resultados.html">Resultados</a></li>
              </ul>
            </li>
            <li><a href="../view/gerenciarUsuario.html" class="">Gerenciar Usuários</a></li>
            <li><a href="../view/loginEmpresa.html">Sair</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  
  <main class="container" id="main-container">    
    <div class="titulo"  id="titulo">
      <h1>Solicitações Aprovadas</h1>
    </div>
    <div class="tabela">
      <table class="table table-striped table-bordered border-secondary border border-5 table table-responsive" id="tabela">
        <thead>
          <tr>
            <th scope="col" style="display:none;">id</th>
            <th scope="col">Departamento</th>
            <th scope="col">Cargo</th>
            <th scope="col">Tipo de Vaga</th>
            <th scope="col">Local</th>
            <th scope="col">Quantidade de Vagas</th>
            <th scope="col">Requisitos Desejaveis</th>
            <th scope="col">Justificativa</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody id="tabela-solicitacoes">

        </tbody>
      </table>
    </div>
    <div class="titulo"  id="titulo">
      <h1>Processos Seletivos</h1>
    </div>
    <table id="tabelaProcesso" class="records">
      <thead>
        <tr>
          <th scope="col" style="display:none;">id</th>
          <th>Departamento</th>
          <th>Cargo</th>
          <th>Área</th>
          <th>Tipo de Vaga</th>
          <th>Local</th>
          <th>Nº de Vagas</th>
          <th>Requisitos Desejaveis</th>
          <th>Teste</th>
          <th>Data de Ínicio</th>
          <th>Data Final</th>
          <th>Status</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody id="tabela-processos">

      </tbody>
    </table>
    
    <div class="modal" id="modal">
      <div class="modal-content">
        <header class="modal-header">
          <h2>Gerenciar Processo</h2>
          <span class="modal-close" id="modalClose">&#10006;</span>
        </header>

        <form id="modal-form" class="modal-form" name="modal-form">
          
          <label for="nomeDepartamento">Departamento</label>
          <input type="text" id="nomeDepartamento" data-index="new" class="modal-field"
            placeholder="Nome do Departamento" required>
          
            <label for="cargo">Cargo</label>
          <input type="text" id="nomeCargo" class="modal-field" placeholder="Nome do Cargo" required>
          
          <label for="area">Área </label>
          <select name="area" id="area" class="modal-field" data-tipo="area" required>
            <option selected disabled value="">Selecione</option>
            <option value="TI">TI</option>
            <option value="Administrativo">Administrativo</option>
            <option value="Financeiro">Financeiro</option>
            <option value="Humano">Humano</option>
            <option value="Jurídico">Jurídico</option>
            <option value="Produção">Produção</option>
          </select>

          <label for="tipoVaga">Tipo de vaga</label>
          <select id="tipoVaga" class="modal-field" name="tipoVaga" required>
            <option selected disabled value="">Selecione</option>
            <option value="Efetivo">Efetivo</option>
            <option value="Estágio">Estágio</option>
            <option value="Temporário">Temporário</option>
            <option value="Trainee">Trainee</option>
          </select>
          
          <label for="localVaga">Local da Vaga</label>
          <select name="localVaga " id="localVaga" class="modal-field" required>
            <option selected disabled value="">Selecione</option>
            <option value="Acre">Acre</option>
            <option value="Alagoas">Alagoas</option>
            <option value="Amapá">Amapá</option>
            <option value="Amazonas">Amazonas</option>
            <option value="Bahia">Bahia</option>
            <option value="Ceará">Ceará</option>
            <option value="Espírito Santo">Espírito Santo</option>
            <option value="Goiás">Goiás</option>
            <option value="Maranhão">Maranhão</option>
            <option value="Mato Grosso">Mato Grosso</option>
            <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
            <option value="Minas Gerais">Minas Gerais</option>
            <option value="Pará">Pará</option>
            <option value="Paraíba">Paraíba</option>
            <option value="Paraná">Paraná</option>
            <option value="Pernambuco">Pernambuco</option>
            <option value="Piauí">Piauí</option>
            <option value="Rio de Janeiro">Rio de Janeiro</option>
            <option value="Rio Grande do Norte">Rio Grande do Norte</option>
            <option value="Rio Grande do Sul">Rio Grande do Sul</option>
            <option value="Rondônia">Rondônia</option>
            <option value="Roraima">Roraima</option>
            <option value="Santa Catarina">Santa Catarina</option>
            <option value="São Paulo">São Paulo</option>
            <option value="Sergipe">Sergipe</option>
            <option value="Tocantins">Tocantins</option>
            <option value="Distrito Federal">Distrito Federal</option>
          </select>
          
          <label id="lblNumVaga" for="lblNumVaga">Quantidade de Vagas</label>
          <input name="qtdvagas" id="qtdvagas" class="modal-field" placeholder="Insira a quantidade de Vagas" type="number" min="1"
            data-tipo="qtdvaga" required>

          <label for="requisitos">Requisitos Desejados</label>
          <textarea id="requisitos" style="resize: none" class="modal-field" name="requisitos" rows="2" cols="1"
            placeholder="Insira os requisitos desejados" required></textarea>

          <label for="teste">Tema do Teste</label>
          <input type="text" id="teste" class="modal-field" placeholder="Insira o tema do teste" required>
          
          <label for="dataInicio">Data de Início</label>
          <input type="month" id="dataInicio" class="modal-field" required>
          
          <label for="dataFinal">Data Final</label>
          <input type="month" id="dataFinal" class="modal-field" required>

          <label for="solicitacaoId" style="display: none">solicitacaoId</label>
          <input type="text" id="solicitacaoId" class="modal-field"
            placeholder="solicitacaoId"  style="display: none;">

          <label for="processoId" style="display: none">processoId</label>
          <input type="text" id="processoId" class="modal-field"
            placeholder="processoId"  style="display: none;">

        </form>

        <footer class="modal-footer">
          <button id="salvar" class="button green" type="button">Salvar</button>
          <button id="cancelar" class="button blue" type="button">Cancelar</button>

        </footer>
      </div>
    </div>
  </main>  
  <script src="../controllers/gerenciarProcSel.js" defer type="module"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>