<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lista de Candidatos</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../styles/listarCandidatos.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>

    <header class="header-area">
        <div class="header-container">
            <div class="logo">
                <a href="#"><img src="../images/logo.png" alt="logo"></a>
            </div>
            <div class="mobile-nav">
                <label for="menuTrigger" class="nav-ico"><i class="fa fa-bars"></i></label>
                <input type="checkbox" id="menuTrigger">
                <nav class="nav-menu">
                    <ul>
                        <li><a href="#" class="">Solicitação de Vaga</a>
                            <i class="fa fa-caret-down"></i>
                            <ul>
                                <li><a href="../view/solicitarAberturaVaga.html">Solicitar Vaga</a></li>
                                <li><a href="../view/solicitacoesEnviadas.html">Ver Solicitações</a></li>
                                <li><a href="../view/avaliarSolicitacao.html">Avaliar Solitações</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="">Processo Seletivo</a>
                            <i class="fa fa-caret-down"></i>
                            <ul>
                                <li><a href="../view/gerenciarProcessoSeletivo.html">Gerenciar Processo</a></li>
                                <li><a href="../view/progressoEmpresa.html">Ver Progresso</a></li>
                                <li><a href="../view/listarCandidatos.html">Listar Candidatos</a></li>
                                <li><a href="../view/testes.html">Agendar Teste</a></li>
                                <li><a href="../view/classificarCandidatos.html">Classificar Candidatos</a></li>
                                <li><a href="../view/resultados.html">Resultados</a></li>
                            </ul>
                        </li>
                        <li><a href="../view/gerenciarUsuario.html" class="">Gerenciar Usuários</a></li>
                        <li><a href="../view/loginEmpresa.html">Sair</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="titulo" alt="titulo">
            <h1>Listar Candidatos</h1>
            <p>Confira o perfil dos candidatos que se inscreveram.</p>
        </div>
        <div id="form-filtro">
            <label for="procSel"> Filtrar por Processo Seletivo</label>
            <select name="procSel" id="procSel">
                <option selected disabled value="">Selecione</option>              
            </select>

            <a href="#" class="filtrar" id="filtrar"><i class="fa fa-search"></i></a>
        </div>

        <div class="content" id="dados-content">

            <div class="box-header">
                <br>
                <h3 class="box-title" id="box-title">Selecione um Processo Seletivo</h3>
            </div>
            <div class="box-body no-padding" id="dados-candidatos">
                
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous">
    </script>
    <script src="../controllers/ListarCandidatos.js" type="module"></script>    

</body>

</html>