<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Login</title>
</head>
<body>
    <div class="login-form" id="login-form" >
        <p>Candidato /  Candidatar-se
        <a href="../view/login.html">Entrar</a></p> 
    </div>
    <div class="scale-up-center empresa" id="login-container" data-tipo="empresa">
        <h1>Bem Vindo(a) Empresa!</h1>
        <form>
            <label for="email" id="emailLabel">E-mail Corporativo</label>
            <input type="email" name="email" id="email" placeholder="Informe seu e-mail">
            <label for="password" id="senhaLabel">Senha</label>
            <input type="password" name="password" id="senha" placeholder="Digite sua senha">
            <a href="../view/redefinir.html" id="esqueceu-senha">Esqueceu sua Senha?</a>
            <input  class="heartbeat" type="submit" id="btn-empresa" onsubmit="entrar()" value="Acessar Conta">
            <div id='msgError'></div>
        </form>
    </div>
    <script src="../controllers/LoginEmpresaController.js"  type="module"></script>
</body>
</html>