<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Resultados</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../styles/resultados.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link href="../utils/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

    <header class="header-area">
        <div class="header-container">
            <div class="logo">
                <a href="#"><img src="../images/logo.png" alt="logo"></a>
            </div>
            <div class="mobile-nav">
                <label for="menuTrigger" class="nav-ico"><i class="fa fa-bars"></i></label>
                <input type="checkbox" id="menuTrigger">
                <nav class="nav-menu">
                    <ul>
                        <li><a href="#" class="">Solicitação de Vaga</a>
                            <i class="fa fa-caret-down"></i>
                            <ul>
                                <li><a href="../view/solicitarAberturaVaga.html">Solicitar Vaga</a></li>
                                <li><a href="../view/solicitacoesEnviadas.html">Ver Solicitações</a></li>
                                <li><a href="../view/avaliarSolicitacao.html">Avaliar Solitações</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="">Processo Seletivo</a>
                            <i class="fa fa-caret-down"></i>
                            <ul>
                                <li><a href="../view/gerenciarProcessoSeletivo.html">Gerenciar Processo</a></li>
                                <li><a href="../view/progressoEmpresa.html">Ver Progresso</a></li>
                                <li><a href="../view/listarCandidatos.html">Listar Candidatos</a></li>
                                <li><a href="../view/testes.html">Agendar Teste</a></li>
                                <li><a href="../view/classificarCandidatos.html">Classificar Candidatos</a></li>
                                <li><a href="../view/resultados.html">Resultados</a></li>
                            </ul>
                        </li>
                        <li><a href="../view/gerenciarUsuario.html" class="">Gerenciar Usuários</a></li>
                        <li><a href="../view/loginEmpresa.html">Sair</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="titulo" alt="titulo">
            <h1>Resultados</h1>
            <p>Confira o desempenho que os candidatos obtiveram nos testes e decida a próxima etapa.</p>
        </div>
        <div id="form-filtro">
            <label for="procSel"> Filtrar por Processo Seletivo</label>
            <select name="procSel" id="procSel">
                <option selected disabled value="">Selecione</option>
            </select>
            <a href="#" class="filtrar" id="filtrar"><i class="fa fa-search"></i></a>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Ranking</h3>
                    </div>
                    <form role="form" id="form-user-create">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="exampleInputNotaTeste" class="text-ranking">Maior Nota do
                                        Teste</label>
                                    <div class="nota" id="nota-teste">
                                        0.00
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-primary" id="btnConsultar"
                                    onclick="window.open('listarCandidatos.html', '_blanck')" disabled>Consultar Lista
                                    de Candidatos</button>
                                <button type="button" id="btnEncerrar" class="btn btn-danger" disabled>Encerrar Processo
                                    Seletivo</button>
                                <div id="mensagemProcesso"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <div class="box">
                    <div class="box-header">
                        <br>
                        <h3 class="box-title" id="box-title">Selecione um Processo Seletivo</h3><br>
                    </div>
                    <div class="box-body no-padding">
                        <table id="tabelaCandidatos" class="table table-responsive table table-bordered table table-striped">
                            <thead id="thead" style="display:none">
                                <tr>
                                    <th scope="col" style="display:none;">id</th>
                                    <th>Nome</th>
                                    <th>E-mail</th>
                                    <th>Celular</th>
                                    <th>Nota do Teste</th>
                                    <th>Data da Entrevista</th>
                                    <th>Horário Entrevista</th>
                                    <th scope="col">Ação</th>
                                </tr>
                            </thead>
                            <tbody id="tabela-candidatos">

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal-->
    <div class="modal fade" id="modal-entrevista">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="modal-title">Agendar Entrevista</h2>
                    <button type="button" class="btn btn-close" id="close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <form id="form" class="modal-form">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email" required>
                        <label for="mensagem">Mensagem</label>
                        <textarea class="modal-field" name="mensagem" id="mensagem" cols="30" rows="10"></textarea>
                        <label for="dataEntrevista">Data da Entrevista</label>
                        <input type="date" id="dataEntrevista" class="modal-field">
                        <label for="horarioEntrevista">Horário da Entrevista</label>
                        <input type="time" id="horarioEntrevista" class="modal-field">
                        <label for="linkEntrevista">Link da Entrevista</label>
                        <input type="text" id="linkEntrevista" class="modal-field">
                        <div id="msgError"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="enviar" class="btn btn-success">Enviar</button>
                    <button type="button" id="cancelar" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../utils/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../controllers/Resultados.js" type="module"></script>
    <script src="../utils/Utils.js"></script>

</body>

</html>