*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box ;
  font-family: Helvetica, sans-serif;
}

:root{
  --primary-color: #FFBA00;
  --secundary-color: #FFF1CC;
  --shadow-color: #CCC;
  --text-color: #FFF;
  --azul-escuro: #001533;
  --azul-claro: #133463;
  --cinza: #323232; 
  --fundo: #081c6b;


}  
.container{
  width: 100%;
  justify-self: unset;
  justify-content: center;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
  margin:auto;
}

.form{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 7rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.966);
  margin: auto;
}
.titulo h1{
  margin-top: 15%;
  padding: 0px 10px;
  color:rgb(99, 96, 96);

}
.titulo p{
color:rgb(99, 96, 96);
padding: 0px 10px;
font-size: 1.6rem;
margin-top: 10px;
}


main{
flex-grow: 1;
display: flex;
flex-direction: column;
align-items:center;
width: 90%;
margin: 15vh auto;
padding: 50px;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
gap: 20px;
background-color: rgb(255, 255, 255);
text-align: center;

}
table{
margin-top: 3%;
margin-bottom: 2%;

}
.modal{
  overflow: scroll;
}
.modal-header h2{
  color: var(--primary-color);

}
.modal label{
display: block;
width: 30%;
text-align: left;
color: #323232;
}
select{
padding: 2%;
width: 49%;
}

.button{
border-style: none;
height: 40px;
padding: 6px 12px;
background-color: black;
color: white;
font-size: 1rem;
cursor: pointer;
transition: box-shadow .6s ease;
}

.button.blue{
background-color: #1FB6FF;
}

.button.green{
background-color: #13CE66;
}

.button.red{
background-color: #FF4949;
}
.modal{
position: fixed;
top:50px;
left:0;
width: 100%;
height: 100%;
background: #00000090;
opacity: 0;
z-index: -1;
}

.modal.active{
opacity: 1;
z-index: 1;
}

.modal-content{
display: flex;
flex-direction: column;
gap:20px;
width: 50vw;
margin: 15vh auto;
padding-bottom: 20px;
background-color: white;
box-shadow: 1px 1px 10px black;
}

.modal-header{
display: flex;
position: relative;
justify-content: center;
height: 40px;
line-height: 40px;
font-size: 1rem;
background-color: var(--fundo);
}



.modal-close{
position: absolute;
right: 0;
display: block;
width: 40px;
height: 40px;
text-align: center;
user-select: none;
cursor: pointer;
}

.modal-close:hover{
background-color: #FF4949;
color: white;
}

.modal-form{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap: 20px;
padding: 0 20px;
}

.modal-field{
width: calc(50% - 10px);
height: 40px;
outline-style: none;
border-style: none;
box-shadow: 0 0 2px black;
padding: 0 10px;
font-size:1rem;
}

.modal-field:focus{
border: 2px solid var(--primary-color);
box-shadow: 0 0 3px var(--primary-color);
}


.modal-footer{
background-color: inherit;
text-align: right;
padding: 0 20px;
}

.records{
width: 100%;
user-select: none;
text-align: left;
}

.records th{
height: 50px;
background-color: var(--fundo);
font-size: 1.2rem;  
text-align: center;  
width: 200px;
color: #CCC;
border-radius: 3px;
}
.records td{
height: 50px;
text-align: center;
border: 1px solid rgba(0, 0, 0, 0.178);


}

.records th:last-child,
.records td:last-child{
padding: 0;
min-width: 140px;
text-align: center;
}

.records tr:hover{
background-color: var(--secundary-color);
}
legend{
  padding: 10px;
}

h2{

text-align: center;
color: var(--cinza);
font-size: 1.7rem;


}



.input-box input:hover, .input-box-textarea input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible, .input-box-textarea:focus-visible{
  outline: 1px solid var(--amarelo);
}

.input-box label, .input-box-textarea label,.input-box-formacao label{
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--cinza);
  margin-bottom: 3px;
}


.adicionar-button button {
align-items: flex-end;
margin-top: 4rem;
border: none;
box-shadow: 1px 1px 3px 3px  rgba(12, 12, 12, 0.103);
background-color: #fff;
padding: 0.62rem;
border-radius: 5px;
cursor: pointer;
}

.adicionar-button button:hover {
background-color: rgba(158, 148, 148, 0.158);
}

.adicionar-button button a {
text-decoration: none;
font-size: 1rem;
font-weight: 500;
color: var(--azul-escuro);
text-transform: uppercase;
font-weight: bold;
}
.fadeOut{
	opacity: 0;
	transition: 0.5s;
}
.tabela th{
  color: var(--amarelo); 
  border: 1px solid #323232;
  padding: 0;
  margin:0;
}
.tabela table{
  border: 4px solid #323232;
}
.tabela thead{
  border: 1px solid #323232;
}

.tabela td{
  color: var(--azul-claro);
  font-weight: bold;
  border: 1px solid #323232;
}


form {
  margin-top:  30px;
  margin-bottom:  40px;

}




@media screen and (max-width: 1100px){
  .table td{
    display: flex;
    justify-content: space-between;
    color: var(--azul-claro);
}

.table tr{
    display: block;
}

.table td, .table tr{
    font-size: 13px;
}

.nota{
    width: 10%;
    background-color: inherit;
}

.table td:first-of-type{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: block;
}

.table td:not(.first-of-type):before{
    content: attr(data-title);
    display: block;
    font-weight: bold;
}

.table thead{
    display: none;
}
};

@media (max-width:480px){
  main{
    padding: 0;
    margin: 20px 0 0 0;
    width:100%;
    box-shadow: none;
  }
  .modal{
      top:100%;
      transition: all 1s ease;
  }
  .modal.active{
      top:0;
  }
  .modal-content{
      margin:0;
      width:100%;
      position:fixed;
  }
  .modal-field{
      width:100%;
  }
  th{
      width: 100px;
  }
  .records{
    border-spacing: 5px;
  }
  .records thead{
      display:none;
  }
  .records tr{
      box-shadow: 0 1px 3px var(--shadow-color);
  }
  .records td:not(:first-child){
      display:flex;
      justify-content: space-between;
      padding: 0 20px;
  }

  .records td{
      margin:10px 0;
  }

  .records tr:hover{
      background-color: inherit;
  }
}


@media only screen and (max-width: 900px){
  

  main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 90%;
  margin: 5vh auto;
  padding: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
  gap: 20px;
  background-color: rgb(255, 255, 255);
  text-align: center;

  }
  p{
  font-size: 1.5rem;
  color:var(--cinza);
  margin-left: 10px;
  padding: 4px;
  }

  table{
  margin-top: 3%;
  margin-bottom: 2%;
  width: 100%;

  }
  .modal label{
  display: block;
  width: 30%;
  text-align: left;
  color: #323232;
  }
  select{
  padding: 2%;
  width: 49%;
  }
}
.button{
 border-style: none;
height: 40px;
padding: 6px 12px;
background-color: black;
color: white;
font-size: 1rem;
cursor: pointer;
transition: box-shadow .6s ease;
}

.button.blue{
background-color: #1FB6FF;
}

button.green{
background-color: #13CE66;
}

button.red{
background-color: #FF4949;
}
.modal{
position: fixed;
top:50px;
left:0;
width: 100%;
height: 100%;
background: #00000090;
opacity: 0;
z-index: -1;
}

.modal.active{
opacity: 1;
z-index: 1;
}

.modal-content{
display: flex;
flex-direction: column;
gap:20px;
width: 50vw;
margin: 15vh auto;
padding-bottom: 20px;
background-color: white;
box-shadow: 1px 1px 10px black;
}

.modal-header{
display: flex;
position: relative;
justify-content: center;
height: 40px;
line-height: 40px;
font-size: 1rem;
background-color: var(--fundo);
}



.modal-close{
position: absolute;
right: 0;
display: block;
width: 40px;
height: 40px;
text-align: center;
user-select: none;
cursor: pointer;
}

.modal-close:hover{
background-color: #FF4949;
color: white;
}

.modal-form{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap: 20px;
padding: 0 20px;
}

.modal-field{
width: calc(50% - 10px);
height: 40px;
outline-style: none;
border-style: none;
box-shadow: 0 0 2px black;
padding: 0 10px;
font-size:1rem;
}

.modal-field:focus{
border: 2px solid var(--primary-color);
box-shadow: 0 0 3px var(--primary-color);
}


.modal-footer{
background-color: inherit;
text-align: right;
padding: 0 20px;
}

.records{
width: 100%;
user-select: none;
text-align: left;
}

.records th{
height: 50px;
background-color: var(--fundo);

font-size: 1.2rem;  
text-align: center;  
width: 200px;
color: #CCC;
border-radius: 3px;
}
.records td{
height: 50px;

text-align: center;
border: 1px solid rgba(0, 0, 0, 0.178);


}

.records th:last-child,
.records td:last-child{
padding: 0;
min-width: 140px;
text-align: center;
}

.records tr:hover{
background-color: var(--secundary-color);
}

@media screen and (min-width:281px) and (max-width:980px){
  .button{
      margin-top: 10%;
  }
  .records{
      border-spacing: 5px;
  }

  .records thead{
      display:none;
  }
  .records tr{
      box-shadow: 0 1px 3px var(--shadow-color);
  }
  .records td:not(:first-child){
      display:flex;
      justify-content: space-between;
      padding: 0 20px;
  }

  .records td{
      margin:10px 0;
  }

  .records tr:hover{
      background-color: inherit;
  }

  .modal{
    top:100%;
    transition: all 1s ease;
    margin-top: 20%;
   

    
  }
  .modal.active{
    top:0;
  }
  .modal h1{
    font-size: 10px;
  }
  .modal-content{
    margin:0;
    width:100%;
  }
  .modal-field{
    width:100%;
  }
  th{
    width: 100px;
  }
  
}


@media screen and (max-width: 1330px) {

.container {
    width: 90%;
}
.form {
    width: 100%;
}

}

@media screen and (max-width: 1064px) {
.container {
    width: 90%;
    height: auto;
    
}

}
