*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
    font-family: Helvetica, sans-serif;
  }
 
  :root{
    --branco: #fff;
    --amarelo2: #ff9500;
    --azul-escuro: #001533;
    --azul-claro: #133463;
    --cinza: #323232;
     --cinza-claro: #797979;    
    --fundo: #081c6b;
    --amarelo: #eab937;
    --azul: #1b9dcc;
    --amarelo-fundo: rgba(230, 170, 7, 0.719);

  
  }
 
  
.container {
    width: 100%;
    justify-self: unset;
    justify-content: center;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    margin:6% auto;
}


.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 5rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.966);
    margin: auto;
}

.form-header {
  margin:auto;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    color: var(--cinza);
}


.form-header h1::after {
    content: ' ';
    display: block;
    width: 13rem;
    height: 0.3rem;
    background-color: var(--amarelo);
    margin: 0 auto;
    position: static;
    border-radius: 10px;
   
  }

h2{
  
  text-align: center;
  color: var(--cinza);
  font-size: 1.7rem;
  

}

.input-group  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box, .input-senha {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: .8rem 2.8rem;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
  
}
 #labeldataNasc{
   width: 230px;

}

#nome{
    width: 750px;
   
}
.input-senha input{
  margin: 0.6rem 0;
  padding: .8rem ;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
  
  
}


.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid var(--amarelo-fundo);
}

.input-box label {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--cinza);
}


.input-box select{
  height: 40px;
  width: 230px;
  padding: 10px 55px;
  font-size: 1rem;
  margin-top: 10px;
  box-shadow: 0 0 1px var(--cinza);
  text-align: left;
  display: flex;
  flex-direction: column;
 
  margin-bottom: 1.1rem;
  border: none;
}
.input-box label{
  margin-top: 20px;
}

.salvar-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: var(--azul-escuro);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.salvar-button button:hover {
    background-color: var(--azul-claro);
}

.salvar-button button a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.excluir-button button {
  width: 100%;
  margin-top: 2.5rem;
  border: none;
  box-shadow: 1px 1px 3px 3px  rgba(12, 12, 12, 0.103);
  background-color: #fff;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.excluir-button button:hover {
  background-color: rgba(158, 148, 148, 0.158);
}

.excluir-button button a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--azul-escuro);
  text-transform: uppercase;
  font-weight: bold;
}






@media only screen and (max-width: 900px){
.site-nav-menu{
    float:none;
    position: absolute;
    background: var(--fundo);
    width: 100%;
    left:0;
    top: 60px;
    padding: 10px 0px 80px 0px;
    border-top: 2px solid var(--amarelo) ;
    clip-path: circle(0% at 100% 0%);
    transition: all .5s;
}

.primary-menu li{
    display: block;
    text-align: center;
    margin: 25px 2px;

}

.mobile-nav{
    display: block;
}
.mobile-menu{
    clip-path: circle(150% at 100% 0%);
}
.primary-menu li a:after{
    display: none;
}
#nome{
    width: 230px;
   
}

}
@media screen and (max-width: 1600px) {
    #nome{
        width: 630px;
       
        }
    .container {
        width: 60%;
    }    
    .form {
        width: 100%;
    }
}
@media screen and (max-width: 1330px) {
  .form-image {
      display: none;
  }
  .container {
      width: 60%;
  }
  .form {
      width: 100%;
  }
  #nome{
    width: 550px;
   
    }
  
}
@media screen and (max-width: 680px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
    #nome{
      width: 230px;
     
      }
    
  }

@media screen and (max-width: 1064px) {
  .container {
      width: 90%;
      height: auto;
      
  }
  
}