*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
    font-family: Helvetica, sans-serif;
}

:root{
    --primary-color: #FFBA00;
    --secundary-color: #FFF1CC;
    --shadow-color: #CCC;
    --text-color: #FFF;
    --branco: #fff;
    --amarelo: #fdb824;
    --azul-escuro: #001533;
    --azul-claro: #133463;
    --cinza: #323232; 
    --fundo: #081c6b;
   

  }

.container{
   
  margin: 5% 25%;
  background: #fff;
  width: 50%;
  height: 40vh;
  justify-self: unset;
  justify-content: center;
  text-align: center;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.212);
}


p{
    color: var(--cinza);
}
h1{
  color: var(--azul-escuro);
  margin: 30px; 
}
span{
  color: var(--amarelo);
  letter-spacing: 2px;
}