*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: var(--cinza);
    border: none;
}
:root{
    --branco: #fff;
    --amarelo: #ff9500;
    --azul-escuro: #001533;
    --azul-claro: #133463;
    --cinza: #323232;
    --facebook-color: #385998;
    --linkedin-color: #0077b5;
    --cinza-claro: #797979;
    --cor-aviso: #df2525;    
}

@keyframes scale-up-center {
    0% {
      transform: scale(0.1);
    }
    100% {
      transform: scale(1);
    }
  }

.scale-up-center {
	animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@keyframes bounce-top {
    0% {
      transform: translateY(-45px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-24px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-12px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }

.bounce-top {
	animation: bounce-top 1s both;
}

@keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }

.heartbeat {
	animation: heartbeat 4s ease-in-out infinite both;
}



body{
    padding-top: 5vh;
    background-image: url('../images/recrutamento-selecao-tech.jpg');
    background-size: cover;
  
}

.login-form{
    text-align: end;
    margin-right: 3%;
    display: block;
 
}

.login-form p{
     color: var(--cinza);
     font-size: 1.2rem;
     letter-spacing: 0.5px;
     font-family: Geneva, Tahoma, sans-serif;
}

.login-form a{
     text-decoration: none;
     font-size: 14px;
     color: var(--branco);
     padding: 4px 10px;
     border-radius: 10px;
     background-color: var(--azul-escuro);
     letter-spacing: 0.8px;
     text-align: center;
     text-transform: uppercase;
     font-weight: bold;
     
}

.login-form a:hover{
     background-color:var(--azul-claro);
     transition: .5s;
     color: var(--branco)
}

textarea:focus, input:focus{
    outline: none;
}

a, label{
    font-size: .8rem;
  
}

a:hover{
    color:var(--amarelo);
}
 /* container login*/

#login-container {
    background-color: var(--branco);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px black;
}

/* formulario */

form {
    margin-top:  30px;
    margin-bottom:  40px;

}

label, input, select{
    display: block;
    width: 100%;
    text-align: left;
    

}

label{
    font-weight: bold ;
}


input, select{
    border-bottom: 1px solid var(--cinza);
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: 0 0 1px var(--cinza);
}

input:focus{
    border-color: var(--amarelo);
}


input[type="submit"]{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    margin-top: 30px;
    border-radius: 20px;
    color: var(--branco);
    background-color: var(--azul-escuro);
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color:var(--azul-claro);
    transition: .5s;
}

/*registro*/

#registro p{
    margin: 10px;
}
#termosdeuso{
    position:absolute;
    width: auto;
    
}

#termosdeuso-label{
    margin-left: 10%;
    margin-top: 9%;
    width: auto;
   
}
#politica-privacidade{
    
    position: absolute;  
    display: inline-block;
    width: auto;
    margin-top: 12%;
}

#privacidade-label{
    display: inline-block;
    width: auto;
    margin-left: 10%;
    margin-top: 12%;
    
    
}
.mensagem p{
    margin-top: 10%;
    text-align: left;
    color: var(--cinza-claro);
    
}
.mensagem02 p{
    text-align: left;
    color: var(--amarelo);
    font-size: .8rem;
    margin-bottom: 10%;
}

#btn-empresa{
  background-color: var(--amarelo);
  color: var(--azul-escuro);
}

h1#empresa{
  color: var(--amarelo);
}

.input-mensagem-erro {   
  color: var(--cor-aviso);
}
