*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
    font-family: Helvetica, sans-serif;
}
:root{
  --branco: #fff;
  --amarelo: #fdb824;
  --azul-escuro: #001533;
  --azul-claro: #133463;
  --cinza: #323232; 
  --fundo: #081c6b;
}
.titulo h1{
  margin-top: 10%;
  padding: 0px 60px;
  color:rgb(99, 96, 96);
}
.titulo p{
color:rgb(99, 96, 96);
padding: 0px 60px;
font-size: 1rem;
margin-top: 10px;
}
 /* cards */
.container{
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 30px;
}

.container-mensagem{
 
  margin: 15% 25%;
  background: #fff;
  width: 50%;
  height: 40vh;
  justify-self: unset;
  justify-content: center;
  text-align: center;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.212);
}

.container-mensagem p{
  color: var(--cinza);
}
.container-mensagem h1{
color: var(--azul-escuro);
margin: 30px; 
}
.container-mensagem a{
text-decoration: none;
color: var(--amarelo);
letter-spacing: 2px;
}
  
.cards{
  background-color: #fff;
  box-shadow:  1px 4px 8px 1px rgba(0, 0, 0, 0.452);
  
}
.image-section{
  height: 225px;
  background-image: url('../images/card.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow:  0px 4px 8px 0px rgba(0, 0, 0, 0.596);
  
}
.content{
  padding: 60px 10px;
  text-align: right;  
}

.content h2{
  letter-spacing: 1px;
  font-size: 1.2rem;
  color: rgb(40, 40, 109);
  text-align: center;
  
}

.content p{
  margin: 15px 0px;
  font-size: 15px;
  text-align: left;
  color: rgb(99, 96, 96);
}
.content img{
  width: 5%;
  
} 

.content a{
  text-decoration: none;
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  margin: 10% 3%;
  border-radius: 5px;
  box-shadow: 0px 0.5px 0px 0.5px rgba(0, 0, 0, 0.781);
  display:inline-block;
  text-align: center;
  background-color: rgb(40, 40, 109);
  letter-spacing: 0.5px;
  
}

.content a:hover{
  background-color: var(--amarelo);
  transition: .5s ;
}
 /*fim cards*/

@media only screen and (max-width: 2800px) {
  .container{
    width: 30%;
    margin: 45px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 30px;
  }
}
@media only screen and (max-width: 900px) {
    
  
  .titulo h1{
    margin-top: 18%;
  }
}
@media screen and (max-width: 780px) {
  .container-mensagem{
   
    margin: 25% 15%;
    width: 70%;
    height: 70vh;
  }
}
  @media only screen and (max-width: 300px) {
  .titulo h1{
    padding: 0px 20px;
    font-size: 2rem;
  }
  .titulo p{
    padding: 0px 20px;
  }
}

  