*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Helvetica;
    border: none;
}

:root{
    --branco: #fff;
    --amarelo: #e0c00a;
    --azul-escuro: #001533;
    --azul-claro: #133463;
    --cinza: #323232; 
    --fundo: #081c6b;
    --amarelo-nav: #eab937;
    --cinza-claro: #797979;
    --cor-aviso: #df2525; 
}
.container{
    width:100%;
    padding: 15px 30px;
    min-height: 500px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 1px 0px  6px 0px rgba(0, 0, 0, 0.637);
}
.row{
    padding: 4px;
}
.box{
    box-shadow: 0px 1px 5px #001533;
    border-radius: 4px;
    width: 100%;
}

#btnEncerrar{
    margin: 2%;
}
.box.box-success{
    width: 100%;
    float: left;
}
.box.box-success .box-title{
    margin-top: 50px;
}

.box-title{
    background-color: var(--azul-claro);
    border: 2px solid var(--azul-escuro);
    border-radius: 5px;
    width: 80%;
    margin-left: 10%; 
    margin-top: 15px;   
    color: var(--branco);
    text-align: center;
}



.btn{
    margin-top: 1.5%;
}

.btn.btn-danger{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.30);

}

.btn.btn-success{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.30);
}

th{
    color: var(--amarelo);
}

td{
    color: var(--azul-claro);
    font-weight: bold;
}

#form-group label{
    font-weight: bold;
    font-size: .8rem;
}

#form-group input{
    border-bottom: 1px solid var(--cinza);
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
}
.btn.btn-primary{
    background-color: var(--azul-claro);
    margin-bottom: 5%;
    width: 70%;
}

.btn.btn-success{
    width: 70%;
}

.btn{
    text-align: center;
}

.btn.btn-danger{
    width: 70%;
}

.filtrar i{
    margin-left: 5px;
    font-size: 1.5rem;
    color: var(--amarelo);
}  
#form-filtro{
    margin-bottom: 20px;
}
#form-filtro label {

    font-size: 1.2rem;
    color: rgb(99, 96, 96);
    margin: 10px;
 

}
#form-filtro select {
    border: 1px solid #32323254;
    padding: 10px;
    font-size: 1rem;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;

}
.titulo h1{
    margin-top: 15%;
    padding: 0px 10px;
    color:rgb(99, 96, 96);

}
.titulo p{
  color:rgb(99, 96, 96);
  padding: 0px 10px;
  font-size: 1.6rem;
  margin-top: 10px;
}
.col-md-3{
    text-align: center;
}

form {
    margin-top:  30px;
    margin-bottom:  40px;

}

#form-group label{
    display: block;
    width: 100%;
    text-align: left;

}

.form-user-create{
    background-color: var(--branco);
    width:90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px black;
}
.nota{
    border-radius: 10px;
    width: 10%;
    font-size: 20pt;
    font-weight: bold;
    color: var(--branco);
}

#nota-teste{
    margin: auto;
    border: 2px solid #e09c0a;
    border-radius: 10px;
    width: 70%;
    font-size: 30pt;
    font-weight: bold;
    color: var(--azul-escuro);
    background-color: var(--amarelo);
}

.nota-tabela{
    border-radius: 100px;
    width: 30%;
    margin-left: 35%;
    font-size: 18pt;
    font-weight: bold;
    color: var(--branco);
    background-color: var(--azul-claro);
}

.text-ranking{
    font-size: 20pt;
    text-align: center;

    
}
   
.modal-content{
display: flex;
flex-direction: column;
gap:20px;
width: 50vw;
margin: 15vh auto;
padding-bottom: 20px;
background-color: white;
box-shadow: 1px 1px 10px black;
}

.modal-header{
text-align: center;
justify-content: center;
height: 45px;
font-size: 1rem;
color:var(--amarelo);
background-color: var(--fundo);
}
.modal-header h2{
    margin-left:85px;
}
.modal-form label{
    font-size: 1.2rem;
    color: #323232;
    margin-left: 20px;
}

.modal-form input{
    margin-left: 20px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.404);
}
.modal-form textarea{
    margin-left: 20px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.404);;
}
#close{
position: absolute;
right: 8px;
display: block;
width: 22px;
height: 22px;
user-select: none;
cursor: pointer;
}

#close:hover{
background-color: #FF4949;
color: white;
}

.modal-form{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap: 20px;
padding: 0 20px;
background-color: #f9f9f9;
}

.modal-footer{
background-color: var(--fundo);
text-align: right;
}

#msgError{
    color: var(--cor-aviso);
    margin-left: 20px;
}
#mensagemProcesso{
    color: var(--cor-aviso);    
}
    
@media only screen and (max-width:1400px) {
    .table td{
        display: flex;
        justify-content: space-between;
        color: var(--azul-claro);
    }

    .table tr{
        display: block;
    }

    .table td, .table tr{
        font-size: 13px;
    }

    .nota{
        width: 10%;
        background-color: inherit;
    }

    .table td:first-of-type{
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        display: block;
    }

    .table td:not(.first-of-type):before{
        content: attr(data-title);
        display: block;
        font-weight: bold;
    }

    .table thead{
        display: none;
    }
}

@media (max-width: 510px) {
    .titulo h1{
        margin-top: 25%;
    }
}