*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: var(--azul-escuro);
    border: none;
}

:root{
    --branco: #fff;
    --amarelo: #ff9500;
    --azul-escuro: #001533;
    --azul-claro: #133463;
    --cinza: #323232; 
    --fundo: #081c6b;
    --amarelo-nav: #eab937;
}
body{
    background-image: url('/images/recrutamento-selecao-tech-op.jpg');
    background-size: cover;
}    



/*------ início header-----*/
.header-area{
  background-color:var(--fundo);
  width: 100%;
  height: 15vh;
  z-index: 999;
  border-bottom: var(--amarelo-nav);

}

.header-container{
  width: 100%;
  margin: auto;
  display: table;
}
.site-logo{
  float: left;
  
}

.site-logo img{
 
width: 60%;
padding: 15px;

}
.mobile-nav{
  display:none;
}
.site-nav-menu{
 float: right;
 margin-right: 5%;
 margin-top: 10px;

}


.primary-menu{
  list-style: none;
}

.primary-menu li{
  display: inline-block;
  margin: 25px 5px;
}
.primary-menu a{
  color: #fff;
  position: relative;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding: 10px 5px;
  transition: .2s;

}
.primary-menu a:hover, .primary-menu .active{
  color: var(--amarelo-nav);
}

.primary-menu li a:after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--amarelo-nav);
  bottom:0px;
  left:0;
  transition: all .2s;
}
.primary-menu li a:hover:after{
  width: 100%;
}
.primary-menu li .active:after{
  width: 100%;
}
.mobile-nav{
  float: right;
  padding: 30px;
  font-size: 24px;
  color: var(--amarelo-nav);
  outline: none;
  cursor:pointer;

}

/*------ fim header-----*/ 

.box-title{
    background-color: var(--azul-claro);
    border: 2px solid var(--azul-escuro);
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;    
    color: var(--branco);
}

.btn{
    margin-top: 1.5%;
}

.btn.btn-danger{
    display: inline-block;
}

.btn.btn-success{
    display: inline-block;
}

th{
    color: var(--amarelo);
}

td{
    color: var(--azul-claro);
    font-weight: bold;
}

label{
    font-weight: bold ;
}

input, select{
    border-bottom: 1px solid var(--cinza);
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 10px;
}

input:focus{
    border-color: var(--amarelo);
}


input[type="submit"]{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    margin-top: 30px;
    border-radius: 20px;
    color: var(--branco);
    background-color: var(--azul-escuro);
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color:var(--azul-claro);
    transition: .5s;
}

#main-container{
    background-color: var(--branco);
    width:90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px black;
    margin-top: 0;
}

.box{
    box-shadow: 0px 1px 5px #001533;
    border-radius: 4px;
}

form {
    margin-top:  30px;
    margin-bottom:  40px;

}

textarea:focus, input:focus{
    outline: none;
}

a, label{
    font-size: .8rem;
}

a:hover{
    color:var(--amarelo);
}

#form-user-create{
    padding: 4%;
    margin: auto;
}

label, input, select{
    display: block;
    width: 100%;
    text-align: left;

}

h1{
    padding-bottom: 5px;
    padding-left: 20px;
}

.form-user-create{
    background-color: var(--branco);
    width:90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px black;
}

#mensagem{
    border: 2px solid var(--amarelo);
    border-radius: 8px;
    margin-bottom: 3%;
    padding-left: 1%;
    padding-top: 0.5%;
    font-size: 15pt;
}

#mensagem-label{
    font-size: 20pt;
    padding-top: 4%;
    padding-left: 3%;
}

li:hover{
    background-color: var(--branco);
    transition: 0.5s;
    border-radius: 20px;
}

.nota{
    border-radius: 10px;
    width: 10%;
    font-size: 20pt;
    font-weight: bold;
    color: var(--branco);
    background-color: var(--azul-claro);
}

#nota-teste{
    margin: auto;
    border-radius: 10px;
    width: 20%;
    font-size: 30pt;
    font-weight: bold;
    color: var(--azul-escuro);
    background-color: var(--amarelo);
}

#nota-entrevista{
    border-radius: 10px;
    width: 20%;
    margin: auto;
    font-size: 30pt;
    font-weight: bold;
    color: var(--azul-escuro);
    background-color: var(--amarelo);
}

.nota-tabela{
    border-radius: 100px;
    width: 100%;
    font-size: 18pt;
    font-weight: bold;
    color: var(--branco);
    background-color: var(--azul-claro);
}

.text-ranking{
    font-size: 20pt;
    text-align: center;
}
@media only screen and (max-width: 900px){
    .site-nav-menu{
        float:none;
        position: absolute;
        background: var(--fundo);
        width: 100%;
        left:0;
        top: 60px;
        padding: 10px 0px 80px 0px;
        border-top: 2px solid var(--amarelo-nav) ;
        clip-path: circle(0% at 100% 0%);
        transition: all .5s;
    }
    
    .primary-menu li{
        display: block;
        text-align: center;
        margin: 25px 2px;
    
    }
    
    .mobile-nav{
        display: block;
    }
    .mobile-menu{
        clip-path: circle(150% at 100% 0%);
    }
    .primary-menu li a:after{
        display: none;
    }
}