*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
    font-family: Helvetica, sans-serif;
  }
  :root{
    --branco: #fff;
    --amarelo: #fdb824;
    --azul-escuro: #001533;
    --azul-claro: #133463;
    --cinza: #323232; 
    --fundo: #081c6b;
  }
  
  .titulo h1{
    margin-top: 10%;
    padding: 0px 60px;
    color:rgb(99, 96, 96);
  }
  .titulo p{
  color:rgb(99, 96, 96);
  padding: 0px 60px;
  font-size: 1rem;
  margin-top: 10px;
  }


 .filtrar i{
 
 margin-left: 5px;
 font-size: 1.5rem;
 color: #ffffff;
 

}


  form {
     
    font-size: 1rem;
    color: rgb(99, 96, 96);
    margin-top: 20px;
    margin-left: 60px;
    
  }
 
  
select {
    border-bottom: 1px solid var(--cinza);
    padding: 10px;
    font-size: 1rem;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
   
    box-shadow: 0 0 1px var(--cinza);
    
  }

  /* cards */

  .container{
    width: 90%;
    
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 30px;
  }
    
  .cards{
    background-color: #fff;
    box-shadow:  1px 4px 8px 1px rgba(0, 0, 0, 0.452);
   
  }
  .image-section{
    height: 225px;
    background-image: url('../images/card.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow:  0px 4px 8px 0px rgba(0, 0, 0, 0.596);
    
  }
  .content{
    padding: 20px 10px;
    text-align: right;
    
    
  }
  
  .content h2{
    letter-spacing: 1px;
    font-size: 1.2rem;
    color: rgb(40, 40, 109);
    text-align: center;
    
  }
  form a{
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    background-color: var(--fundo);
      
  }

 
  .content p{
    margin: 15px 0px;
    font-size: 15px;
    text-align: left;
    color: rgb(99, 96, 96);
  }
  .content img{
    width: 5%;
   
  } 
  
  .content a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0px 0.5px 0px 0.5px rgba(0, 0, 0, 0.781);
    display: inline-block;
    text-align: center;
    background-color: rgb(40, 40, 109);
    letter-spacing: 0.5px;
   
  }
 
 .content a:hover{
    background-color: var(--amarelo);
    transition: .5s ;
  }

  .mensagem-filtro{
    background-color: #fff;
    text-align: center;
    padding: 20px;
  }

  /*fim cards*/


  @media only screen and (max-width: 1083px) {
    
    form {
       
      font-size: 1rem;
      color: rgb(99, 96, 96);
      margin-top: 20px;
      margin-left: 30px;
    }
   
    
  select {
      border-bottom: 1px solid var(--cinza);
      padding: 10px;
      font-size: 1rem;
      display: inline-block;
      margin: 5px 0px 10px 0px;
      width: 15%;
      box-shadow: 0 0 1px var(--cinza);
      
    }
  }

  @media only screen and (max-width: 900px) {
    
    form {
       
      font-size: 1rem;
      color: rgb(99, 96, 96);
      margin-top: 20px;
      margin-left: 60px;
    }
   
    .titulo h1{
      margin-top: 18%;
    }
  select {
      border-bottom: 1px solid var(--cinza);
      padding: 10px;
      font-size: 1rem;
      display: block;
      margin: 5px 0px 10px 0px;
      width: 50%;
      box-shadow: 0 0 1px var(--cinza);
      
    }
  }
  @media only screen and (max-width: 300px) {
    
  .titulo h1{
    margin: 8% auto;
  padding: 0px 20px;
  font-size: 2rem;
  
  }
  .titulo p{
  
  padding: 0px 20px;
  
  }
    
    
  select { 
  width: 80%;
      
  }
}

  