*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: var(--cinza);
    border: none;
}

:root{
    --branco: #fff;
    --amarelo: #ff9500;
    --azul-escuro: #001533;
    --azul-claro: #133463;
    --cinza: #323232;
    --facebook-color: #385998;
    --linkedin-color: #0077b5;
}

body{
    background-image: url('/images/recrutamento-selecao-tech.jpg');
    background-size: cover; 
}

textarea:focus, input:focus, select:focus, textarea:focus, option:focus{
    outline: none;
}

a, label, select, textarea, option{
    font-size: .8rem;
  
}

a:hover{
    color:var(--amarelo);
}

h1, .mensagem{
    text-align: left;
}

#main-container{
    background-color: var(--branco);
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px black;
}

#descricao{
    float: right;
    width: 1000px;
    margin: auto;
}


form {
    margin-top:  auto;
    margin-bottom:  auto;

}

label, input, select, textarea, option{
    display: block;
    width: 30%;
    text-align: left;
    caret-color: #ff9500;

}

label, select, h1, textarea, option{
    font-weight: bold ;
}

input, select, textarea, option{
    border-bottom: 1px solid var(--cinza);
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: 0 0 1px var(--cinza);
}

select:focus, input:focus, textarea:focus, option:focus{
    border-color: var(--amarelo);
}


input[type="submit"]{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    margin-top: 30px;
    border-radius: 20px;
    color: var(--branco);
    background-color: var(--azul-escuro);
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color:var(--azul-claro);
    transition: .5s;
}



