*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: var(--cinza);
    border: none;
}

:root{
    --branco: #fff;
    --fundo: #081c6b;
    --amarelo-fundo: rgba(230, 170, 7, 0.719);
    --amarelo: #eab937;
    --azul-escuro: #001533;
    --azul-claro: #133463;
    --azul: #1b9dcc;
    --cinza: rgb(99, 96, 96);
}

body{
  background-image: url('../images/recrutamento-selecao-tech-op.jpg');
  background-size: cover; 
}

  /*header - nav*/
.header-area{
  background-color:var(--fundo);
  width: 100%;
  height: 15vh;
  z-index: 999;
  border-bottom: var(--amarelo);

}

.header-container{
  width: 100%;
  margin: auto;
  display: table;
}
.site-logo{
  float: left;
}

.site-logo img{
 
width: 60%;
padding: 15px;

}
.mobile-nav{
  display:none;
}
.site-nav-menu{
 float: right;
 margin-right: 5%;
 margin-top: 10px;

}


.primary-menu{
  list-style: none;
}

.primary-menu li{
  display: inline-block;
  margin: 25px 5px;
}
.primary-menu a{
  color: #fff;
  position: relative;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding: 10px 5px;
  transition: .2s;

}
.primary-menu a:hover, .primary-menu .active{
  color: var(--amarelo);
}

.primary-menu li a:after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--amarelo);
  bottom:0px;
  left:0;
  transition: all .2s;
}
.primary-menu li a:hover:after{
  width: 100%;
}
.primary-menu li .active:after{
  width: 100%;
}
.mobile-nav{
  float: right;
  padding: 30px;
  font-size: 24px;
  color: var(--amarelo-nav);
  outline: none;
  cursor:pointer;
 
}

/*------- fim header - nav------------*/

textarea:focus, input:focus, select:focus, textarea:focus, option:focus{
    outline: none;
}

a, label, select, textarea, option{
    font-size: .8rem;
  
}

a:hover{
    color:var(--amarelo);
}

h1, .mensagem{
    text-align: left;
    width: 90%;
}

#main-container{
    margin-top: 70px;
    background-color: var(--branco);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px black;
}

#descricao{
    float: right;
    width: 1000px;
    margin: auto;
}


form {
    margin-top:  auto;
    margin-bottom:  auto;

}

label, input, select, textarea, option{
    display: block;
    width: 30%;
    text-align: left;
    caret-color: #ff9500;

}

label, select, h1, textarea, option{
    font-weight: bold ;
}

input, select, textarea, option{
    border-bottom: 1px solid var(--cinza);
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: 0 0 1px var(--cinza);
}

select:focus, input:focus, textarea:focus, option:focus{
    border-color: var(--amarelo);
}


input[type="submit"]{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    margin-top: 30px;
    border-radius: 20px;
    color: var(--branco);
    background-color: var(--azul-escuro);
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color:var(--azul-claro);
    transition: .5s;
}

#mensagem{
	color: red;
  font-weight: bolder;
  font-size: 16px;
}

.invisivel{
  display: none;
}



