<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/header.css">
    <link href="https://fonte.googleapis.com/css2?family=Roboto:wght@400,500,700&display=swap" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../styles/acompanharProgresso.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Acompanhar Progresso</title>
</head>
<body>
  <header class="header-area">
    <div class="header-container">
      <div class="site-logo">
        <a href="#"><img src="../images/logo.png" alt="logo"></a>
      </div>
      <div class="mobile-nav">
        <i class="fas fa-bars"></i>
      </div>
      <div class="site-nav-menu">
        <ul class="primary-menu">
          <li><a href="../view/minhasVagas.html" class="">Minhas Vagas</a></li>
          <li><a href="../view/oportunidades.html" class="">Oportunidades</a></li>
          <li><a href="../view/mensagem.html" class="">Mensagens</a></li>
          <li><a href="../view/gerenciarPerfil.html" class="">Perfil</a></li>
          <li><a href="../view/login.html" class="">Sair</a></li>
        </ul>
      </div>
    </div>
  </header> 
  
 
  <div class="container" >
    <div class="titulo" alt="titulo">
      <h1>Acompanhar Progresso</h1>
      <p>Acompanhe as etapas do processo seletivo em que se candidatou.</p>
    </div>
    <div class="progresso">
      <div class="progresso-titulo">
        <span>Meu progresso</span>
        <span>1/5</span>
      </div>
      <div class="jss958 progresso-barra root jss959 jss961" role="progressbar" aria-valuenow="67">
          <div class="jss968 jss969 linear-progress__bar root jss972" style="transform: scaleX(0.20);">
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-md-5 side-content">
        <div class="bs-vertical">
          <ul>
            <li class="complete">
              <div class="texto">
                <h1>Candidatar à Vaga</h1>
              </div>
              <a href="#"><i class="ico fa fa-check ico-green"></i> </a>
            </li>
            <li class="current">
              <div class="texto">
                <h1>Validação da Inscrição</h1>
                <span>Estamos analisando sua inscrição. Por favor, aguarde.</span>
              </div>
              <a href="#"></a>
            </li>
            <li class="locked">
              <div class="texto">
                <h1>Teste</h1>
              </div> 
              <a href="#"><i class="ico fa fa-lock ico-muted"></i> </a>
            </li>
            <li class="locked">
              <div class="texto">
                <h1>Entrevista</h1>
              </div> 
              <a href="#"><i class="ico fa fa-lock ico-muted"></i> </a>
            </li>
            <li class="locked">
              <div class="texto">
                <h1>Resultado</h1>
              </div> 
              <a href="#"><i class="ico fa fa-lock ico-muted"></i> </a>
            </li> 
          </ul>
        </div>
      </div>
  </div>
    
 
    

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function(){
      $(".mobile-nav i").click(function(){
          $(".site-nav-menu").toggleClass("mobile-menu");
      });
    })
  </script>     
</body>
</html>