<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../styles/candidatar.css">
    <title>Candidatar</title>
</head>

<body>
    <header class="header-area">
        <div class="header-container">
            <div class="site-logo">
                <a href="#"><img src="../images/logo.png" alt="logo"></a>
            </div>
            <div class="mobile-nav">
                <i class="fas fa-bars"></i>
            </div>
            <div class="site-nav-menu">
                <ul class="primary-menu">
                    <li><a href="#" class="">Minhas Vagas</a></li>
                    <li><a href="#" class="">Oportunidades</a></li>
                    <li><a href="#" class="">Mensagens</a></li>
                    <li><a href="#" class="">Perfil</a></li>
                    <li><a href="#" class="">Sair</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container-desc" id="container-desc" style="display: block;">
        <div class="descricao">
            <h1>Desenvolvedor(a) Java Jr</h1>
            <h3>Descrição da vaga</h3>
            <p>Desenvolvimento focado em manutenibilidade, performance e boas práticas de desenvolvimento de software
                para sistemas de utilities.


            <h3>Responsabilidades e atribuições</h3>

            Leitura de especificação; Programação front-end (Javascript, Bootstrap) e back-end (Java, Spring Boot,
            Spring Data).


            <h3>Requisitos e qualificações</h3>


            Java, Spring MVC; Webservice RESTFUL, Banco de dados relacional

            Conhecimento em algoritmos e linguagem de programação Java

            Vontade de aprender novas tecnologias e ferramentas; Ser responsável, auto gerenciável e comprometido;
            Gostar de trabalhar em equipe.


            <h3>Informações adicionais</h3>

            <h4>✔ O que Temos?</h4>

            <ul>
                <li>Flexibilidade no horário de trabalho;</li>
                <li>Modelo de trabalho híbrido;</li>
                <li>Programa de Capacitação;</li>
                <li>Ambiente inovador e projetos desafiadores;</li>
                <li>Auxílio Home Office;</li>
            </ul>
            </p>
        </div>
        <div class="continuar-button">
            <input class="btn-continuar" id="btn-continuar" type="button" value="continuar" onclick="showForm()">
        </div>
    </div>
    <div class="container-form" id="container-form" style="display: none;">
        <div class="form">
            <form>
                <fieldset>
                    <legend>
                        <h2>Experiência Profissional</h2>
                    </legend>
                    <div class="expProf" id="expProf">
                        <div class="input-group-exp">
                            <div class="input-box">
                                <label id="labelempresa" for="empresa">Empresa</label>
                                <input type="text" name="empresa" id="empresa">
                            </div>
                            <div class="input-box">
                                <label id="labelcargo" for="cargo">Cargo</label>
                                <input type="text" name="cargo" id="cargo">
                            </div>
                            <div class="input-box">
                                <label id="dataAdimissao" for="dataAdimissao">Data de Admissão</label>
                                <input id="dataAdimissao" type="date" name="dataAdimissao">
                            </div>
                            <div class="input-box">
                                <label id="dataDesligamento" for="dataDesligamento">Data de Desligamento</label>
                                <input id="dataDesligamento" type="date" name="dataDesligamento">
                            </div>

                            <div class="input-box-textarea">
                                <label for="descricao">Descreva sua função dentro da empresa</label>
                                <textarea name="descricao" id="descricao" rows="10"></textarea>
                            </div>

                            <div class="semExperiencia-inputs">
                                <div class="semExperiencia-group">
                                    <div class="semExperiencia-input">
                                        <input id="semExperiencia" type="radio" name="semExperiencia">
                                        <label for="semExperiencia">Não possuo experiência profissional</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="adicionar-button">
                        <button type="button" onclick="addExp()"><a href="#">Adicionar</a></button>
                    </div>
                </fieldset>
                <br>
                <fieldset>
                    <legend>
                        <h2>Formações Academicas</h2>
                    </legend>
                    <div class="formacao" id="formacao">
                        <div class="input-group-formacao">
                            <div class="input-box-formacao">
                                <label id="labelformacao" for="formacao"> Tipo de Formação</label>
                                <select name="formacao" id="formacao">
                                    <option selected disabled value="">Selecione</option>
                                    <option value="fundamental">Ensino Fundamental</option>
                                    <option value="medio">Ensino Médio</option>
                                    <option value="graduacao">Graduação</option>
                                    <option value="pos-graduacao">Pós-Graduação</option>
                                    <option value="doutorado">Doutorado</option>
                                    <option value="mestrado">Mestrado</option>
                                    <option value="tecnico">Técnico</option>
                                    <option value="tecnologo">Tecnólogo</option>
                                </select>
                            </div>
                            <div class="input-box">
                                <label id="labelcurso" for="curso">Curso</label>
                                <input type="text" name="curso" id="curso">
                            </div>
                            <div class="input-box">
                                <label id="labelInstituicao" for="instituicao">Nome da Instituição</label>
                                <input type="text" name="instituicao" id="instituicao">
                            </div>
                            <div class="input-box">
                                <label id="datainicio" for="datainicio">Data de Início</label>
                                <input id="datainicio" type="date" name="datainicio">
                            </div>
                            <div class="input-box">
                                <label id="dataconclusao" for="dataconclusao">Data de Conclusão</label>
                                <input id="dataconclusao" type="date" name="dataconclusao">
                            </div>
                        </div>
                    </div>
                    <div class="adicionar-button">
                        <button type="button" onclick="addFormacao()"><a href="#">Adicionar</a></button>
                    </div>

                </fieldset>
            </form>
            <div class="candidatar-button">
                <button><a href="#">Candidatar</a></button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".mobile-nav i").click(function () {
                $(".site-nav-menu").toggleClass("mobile-menu");
            });
        })
    </script>
    <script src="../controllers/CandidatarController.js"></script>
    <script src="../index4.js"></script>
</body>

</html>