<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Criar Conta</title>
</head>
<body>
    <div class="flip-scale-down-ver" id="login-container">
        <h1>Cadastre-se!</h1>  
        <div id="msgSucesso"></div>      
        <form id="formCad1" class="needs-validation" action="#formcad2" style="display: block;">
            <label id="labelEmail" for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Informe seu e-mail" required>
            <label id="labelNome" for="nome">Nome Completo</label>
            <input type="text" name="nome" id="nome" placeholder="Insira seu nome aqui" required>
            <label id="labelSenha" for="password">Senha</label>
            <input type="password" name="password" id="senha" placeholder="Digite sua senha" required>
            <label id="labelConfirmSenha" for="passconfirmation">Confirme sua senha</label>
            <input type="password" name="passconfirmation" id="passconfirmation" placeholder="Confirme sua senha" required>
            
            <input  class="heartbeat"  type="submit" value="Próximo Passo" class="btn-proximo">
        </form>

        <form  class="bounce-top" id="formCad2" action="login.html" style="display: none;">
            <label id="labelCPF" for="cpf">CPF </label>
             <input type="text" name="cpf" id="cpf" placeholder="000.000.000-00" required>
             <label id="labelCelular" for="celular">Celular </label>
             <select name="codcel" id="codcel">
                 <option value="BR55">BR +55</option>
             </select>

             <input type="text" name="numCel" id="numCel" placeholder="(__)_____-____" required>
            <label id="labelCEP" for="cep">CEP</label>
            <input type="text" name="cep" id="cep" maxlength="8">
            <label id="labelLogradouro" for="logradouro">Logradouro</label>
            <input type="text" name="logradouro" id="logradouro">
            <label id="labelBairro" for="bairro">Bairro</label>
            <input type="text" name="bairro" id="bairro">
            <label id="labelCidade" for="cidade">Cidade</label>
            <input type="text" name="cidade" id="cidade">
            <label id="labelEstado" for="estado">Estado</label>
            <input type="text" name="estado" id="estado">
            <label id="labelPais" for="pais">País de Origem </label>
             <select name="pais" id="pais">
                 <option value="Brasil">Brasil</option>
             </select>
             <label id="labelgenero" for="genero">Gênero</label>
             <select name="genero" id="genero">
                 <option selected disabled value="">Selecione</option>
                 <option value="ti">TI</option>
                 <option value="comercial">Feminino</option>
                 <option value="juridico">Masculino</option>
                 <option value="financeiro">Outro</option>
                 <option value="financeiro">Prefiro não dizer</option>
             </select>
            <label id="labelarea" for="area">Area de Interesse</label>
             <select name="area" id="area">
                 <option selected disabled value="">Selecione</option>
                 <option value="ti">TI</option>
                 <option value="comercial">Comercial</option>
                 <option value="juridico">Jurídico</option>
                 <option value="financeiro">Financeiro</option>
                 <option value="financeiro">Todas</option>
             </select>
             

             <input type="checkbox" name="termosdeuso" id="termosdeuso" required>
             <label for="termosdeuso" id="termosdeuso-label">Eu li e aceito os <a href="#">termos de uso da G5Tech</a></label>
             <input type="checkbox" name="politica-privacidade" id="politica-privacidade" required>
             <label for="politica-privacidade" id="privacidade-label">Eu li e concordo com a <a href="#">politica de privacidade da G5Tech</a></label>

             
    
            
             <input type="submit" value="Criar Conta" class="btn-criar-conta heartbeat">
         </form>
        <div id="registro">
        <p>Já possui uma conta?</p>
        <a href="../view/login.html" rel="next">Entrar com e-mail e senha</a>
    </div>
    </div>    
    <script src="../classes/Utils.js"></script>
    <script src="../model/Candidato.js"></script>
    <script src="../controllers/CadastroController.js"></script>
    <script src="../index.js"></script>
</body>
</html>