<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/gerenciarPerfil.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link href="https://fonte.googleapis.com/css2?family=Roboto:wght@400,500,700&display=swap" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Gerenciar Perfil</title>
</head>
<body>
  <header class="header-area">
    <div class="header-container">
      <div class="site-logo">
        <a href="#"><img src="../images/logo.png" alt="logo"></a>
      </div>
      <div class="mobile-nav">
        <i class="fas fa-bars"></i>
      </div>
      <div class="site-nav-menu">
        <ul class="primary-menu">
          <li><a href="#" class="">Minhas Vagas</a></li>
          <li><a href="#" class="">Oportunidades</a></li>
          <li><a href="#" class="">Mensagens</a></li>
          <li><a href="#" class="active">Perfil</a></li>
          <li><a href="#" class="">Sair</a></li>
        </ul>
      </div>
    </div>
  </header> 

  <div class="container">
    
    <div class="form">
        <form action="#">
            <div class="form-header">
                <div class="title">
                    <h1>Editar Perfil</h1>
                </div>
            </div>
                <h2>Dados Pessoais</h2>
            <div class="input-group">
                <div class="input-box">
                    <label id="labelNome" for="nome">Nome Completo</label>
                    <input type="text" name="nome" id="nome" placeholder="Insira seu nome aqui" required>
                </div>

                <div class="input-box">
                    <label id="dataNasc" for="dataNasc">Data de Nascimento</label>
                    <input id="dataNasc" type="date" name="dataNasc"  required>
                </div>
                <div class="input-box">
                    <label id="labelEmail" for="email">E-mail</label>
                    <input type="email" name="email" id="email" placeholder="Informe seu e-mail" required>
                </div>
                <div class="input-box">
                    <label id="labelCPF" for="cpf">CPF </label>
                    <input type="text" name="cpf" id="cpf" placeholder="000.000.000-00" required> 
                </div>     
                <div class="input-box">
                    <label id="labelCelular" for="celular">Celular </label>
                    <input type="text" name="numCel" id="numCel" placeholder="(__)_____-____" required>
                </div>
                <div class="input-box">
                    <label id="labeltel" for="telefone">Telefone Fixo </label>
                    <input type="text" name="numTel" id="numTel" placeholder="(__)____-____" required>
                </div>
                <div class="input-box">
                    <label id="labelCEP" for="cep">CEP</label>
                    <input type="text" name="cep" id="cep" maxlength="8">
                </div>
                <div class="input-box">
                    <label id="labelRua" for="rua">Rua</label>
                    <input type="text" name="rua" id="rua">
                </div>
                <div class="input-box">
                    <label id="labelBairro" for="bairro">Bairro</label>
                    <input type="text" name="bairro" id="bairro">
                </div>
                <div class="input-box">
                    <label id="labelCidade" for="cidade">Cidade</label>
                    <input type="text" name="cidade" id="cidade">
                </div>
                <div class="input-box">
                    <label id="labelEstado" for="estado">Estado</label>
                    <input type="text" name="estado" id="estado">
                </div>
               
                <div class="input-box">
                    <label id="labelPais" for="país">País de Origem </label>
                    <select name="pais" id="pais">
                        <option value="Brasil">Brasil</option>
                    </select>
                </div>
                
                

            </div>

            <div class="genero-inputs">
                <div class="genero-title">
                    <h6>Gênero</h6>
                </div>

                <div class="genero-group">
                    <div class="genero-input">
                        <input id="feminino" type="radio" name="genero">
                        <label for="feminino">Feminino</label>
                    </div>

                    <div class="genero-input">
                        <input id="masculino" type="radio" name="genero">
                        <label for="masculino">Masculino</label>
                    </div>

                    <div class="genero-input">
                        <input id="outros" type="radio" name="genero">
                        <label for="outros">Outros</label>
                    </div>

                    <div class="genero-input">
                        <input id="nenhum" type="radio" name="genero">
                        <label for="nenhum">Prefiro não dizer</label>
                    </div>
                </div>
            

                <div class="area-inputs">
                    <div class="area-title">
                        <h6>Área de Interesse</h6>
                    </div>
    
                    <div class="area-group">
                        <div class="area-input">
                            <input id="ti" type="radio" name="area">
                            <label for="ti">TI</label>
                        </div>
    
                        <div class="area-input">
                            <input id="comercial" type="radio" name="area">
                            <label for="comercial">Comercial</label>
                        </div>
    
                        <div class="area-input">
                            <input id="juridico" type="radio" name="area">
                            <label for="juridico">Jurídico</label>
                        </div>
    
                        <div class="area-input">
                            <input id="financeiro" type="radio" name="area">
                            <label for="financeiro">Financeiro</label>
                        </div>

                        <div class="area-input">
                            <input id="todas" type="radio" name="area">
                            <label for="todas">Todas</label>
                        </div>
                        
                    </div>    
            </div>
            <div class="input-senha">
                <h2>Alterar Senha</h2>
                <div class="input-box">
                        <label for="password"> Senha Atual</label>
                        <input id="password" type="password" name="password" placeholder="Digite sua senha atual" >
                    </div>
                    <div class="input-box">
                        <label for="newPassword">Senha Nova</label>
                        <input id="newPassword" type="password" name="newPassword" placeholder="Digite sua senha nova" >
                    </div>
            </div>
            <div class="salvar-button">
                <button><a href="#">Salvar</a> </button>
            </div>
            <div class="excluir-button">
                <button><a href="#">Excluir conta</a></button>
            </div>
        </form>
    </div>
</div>

<script src="../model/gerenciarPerfil.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function(){
    $(".mobile-nav i").click(function(){
        $(".site-nav-menu").toggleClass("mobile-menu");
    });
  })
</script>     
</body>
</html>