<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Login</title>
</head>
<body>
    <div class="login-empresa" id="login-empresa">
        <p>Empresa/ Anunciar vagas
        <a href="#">Entrar</a></p> 
    </div>
    <div class="scale-up-center" id="login-container">
        <h1>Bem Vindo(a)!</h1>
        <form action="">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Informe seu e-mail">
            <label for="password">Senha</label>
            <input type="password" name="password" id="senha" placeholder="Digite sua senha">
            <a href="../view/redefinir.html" id="esqueceu-senha">Esqueceu sua Senha?</a>
            <input  class="heartbeat" type="submit" value="Acessar Conta">
        </form>
        <div id="social-container">
            <p>Ou entre pelas suas redes sociais</p>
       
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-linkedin"></i>
        </div>
        <div id="registro">
        <p>Não possui uma conta?</p>
        <a href="../view/criarConta.html" rel="next">Criar Conta</a>
    </div>
    </div>
    
</body>
</html>