<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Login</title>
</head>
<body>
    <div class="login-empresa" id="login-empresa">
        <p>Candidato /  Candidatar-se
        <a href="../view/login.html">Entrar</a></p> 
    </div>
    <div class="scale-up-center" id="login-container" id="empresa">
        <h1>Bem Vindo(a) Empresa!</h1>
        <form action="">
            <label for="email">E-mail Corporativo (?) </label>
            <input type="email" name="email" id="email" placeholder="Informe seu e-mail">
            <label for="password">Senha</label>
            <input type="password" name="password" id="senha" placeholder="Digite sua senha">
            <a href="../view/redefinir.html" id="esqueceu-senha">Esqueceu sua Senha?</a>
            <input  class="heartbeat" type="submit" id="btn-empresa" value="Acessar Conta">
        </form>
        <div id="registro">
        <p>Não possui uma conta?</p>
        <a href="../view/criarConta.html" rel="next">Criar Conta</a>
    </div>
    </div>
    
</body>
</html>