<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonte.googleapis.com/css2?family=Roboto:wght@400,500,700&display=swap" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../styles/oportunidades.css">
    <link rel="stylesheet" href="../styles/header.css">
    <title>Oportunidades</title>
</head>
<body>
  <header class="header-area">
    <div class="header-container">
      <div class="site-logo">
        <a href="#"><img src="../images/logo.png" alt="logo"></a>
      </div>
      <div class="mobile-nav">
        <i class="fas fa-bars"></i>
      </div>
      <div class="site-nav-menu">
        <ul class="primary-menu">
          <li><a href="../view/minhasVagas.html" class="">Minhas Vagas</a></li>
          <li><a href="#" class="active">Oportunidades</a></li>
          <li><a href="../view/mensagem.html" class="">Mensagens</a></li>
          <li><a href="../view/gerenciarPerfil.html" class="">Perfil</a></li>
          <li><a href="../view/login.html" class="">Sair</a></li>
        </ul>
      </div>
    </div>
  </header> 
  <div class="titulo" alt="titulo">
    <h1>Oportunidades</h1>
    <p>Encontre outras oportunidades de vaga</p>
  </div>
  <form id="form-filtro">
    <label id="tipoVaga" for="tipoVaga"> Filtrar por tipo de vaga </label>
     <select name="tipoVaga" id="tipoVaga">
         <option value="">Tipo de Vagas</option>
         <option value="efetivo">Efetivo</option>
         <option value="estágio">Estágio</option>
         <option value="temporário">Temporário</option>
         <option value="trainee">Treinee</option>
     </select>
     <label id="localVaga" for="localVaga"> Filtrar por local </label>
     <select name="localVaga" id="localVaga">
        <option value="">Local da Vaga</option>
         <option value="saoPaulo">São Paulo</option>
         <option value="riodeJaneiro">Rio de Janeiro</option>
         <option value="florianopolis">Florianópolis</option>
         <option value="sorocaba">Sorocaba</option>
         <option value="bauru">Bauru</option>
     </select>
     <label  id="deptoVaga" for="deptoVaga"> Filtrar por Departamento </label>
     <select name="deptoVaga" id="deptoVaga">
         <option value="">Departamento</option>
         <option value="analista">Comercial</option>
         <option value="analista">Experiencia do úsuario</option>
         <option value="estágio">Desenvolvimento</option>
         <option value="temporário">Jurídico</option>
         <option value="trainee">Marketing </option>
     </select>
    </form>
  <div class="container">
    <div class="cards">
      <div class="image-section"></div>
      <div class="content">
        <h2>Advogado Jr</h2>
        <p><img src="../images/pasta.png" alt=""> Efetivo
        </p>
        <p><img src="../images/local.png" alt=""> Rio de Janeiro/RJ</p>
        <a href="#" class="btn">Candidatar</a>
      </div>
    </div>
    <div class="cards">
      <div class="image-section"></div>
      <div class="content">
        <h2>Analista Comercial Pleno</h2>
        <p><img src="../images/pasta.png" alt=""> Efetivo
        </p>
        <p><img src="../images/local.png"  alt=""> Rio de Janeiro/RJ e Remoto</p>
        <a href="#" class="btn">Candidatar</a>
      </div>
    </div>
    <div class="cards">
      <div class="image-section"></div>
      <div class="content">
        <h2>Analista de Marketing</h2>
        <p><img src="../images/pasta.png" alt=""> Estágio
        </p>
        <p><img src="../images/local.png"  alt=""> São Paulo/SP</p>
        <a href="#" class="btn">Candidatar</a>
      </div>
    </div>
    <div class="cards">
      <div class="image-section"></div>
      <div class="content">
        <h2>Auxiliar de Vendas Digital</h2>
        <p><img src="../images/pasta.png" alt=""> Efetivo
        </p>
        <p><img src="../images/local.png" alt=""> São Paulo/SP e Remoto </p>
        <a href="#" class="btn">Candidatar</a>
      </div>
    </div>
    <div class="cards">
      <div class="image-section"></div>
      <div class="content">
        <h2>Desenvolvedor(a) Java JR</h2>
        <p><img src="../images/pasta.png" alt=""> Efetivo
        </p>
        <p><img src="../images/local.png" alt=""> Florianópolis/SC</p>
        <a href="#" class="btn">Candidatar</a>
      </div>
    </div>
    <div class="cards">
      <div class="image-section"></div>
      <div class="content">
        <h2>Desenvolvedor(a) Mobile Pleno</h2>
        <p><img src="../images/pasta.png" alt=""> Efetivo
        </p>
        <p><img src="../images/local.png" alt=""> Sorocaba/SP e Remoto</p>
        <a href="#" class="btn">Candidatar</a>
      </div>
    </div>
    <div class="cards">
      <div class="image-section"></div>
      <div class="content">
        <h2>Técnico de Métodos e Processos</h2>
        <p><img src="../images/pasta.png"alt=""> Estágio
        </p>
        <p><img src="../images/local.png" alt=""> Rio de Janeiro/RJ</p>
        <a href="#" class="btn">Candidatar</a>
      </div>
    </div>
    <div class="cards">
      <div class="image-section"></div>
      <div class="content">
        <h2>Ux Designer Sênior </h2>
        <p><img src="../images/pasta.png" alt=""> Efetivo
        </p>
        <p><img src="../images/local.png"  alt=""> São Paulo/SP</p>
        <a href="#" class="btn">Candidatar</a>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function(){
      $(".mobile-nav i").click(function(){
          $(".site-nav-menu").toggleClass("mobile-menu");
      });
    })
  </script>     
</body>
</html>