<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonte.googleapis.com/css2?family=Roboto:wght@400,500,700&display=swap" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../styles/oportunidades.css">
    <link rel="stylesheet" href="../styles/header.css">
    <title>Oportunidades</title>
</head>
<body>
  <header class="header-area">
    <div class="header-container">
      <div class="site-logo">
        <a href="#"><img src="../images/logo.png" alt="logo"></a>
      </div>
      <div class="mobile-nav">
        <i class="fas fa-bars"></i>
      </div>
      <div class="site-nav-menu">
        <ul class="primary-menu">
          <li><a href="../view/minhasVagas.html" class="">Minhas Vagas</a></li>
          <li><a href="../view/oportunidades.html" class="active">Oportunidades</a></li> 
          <li><a href="../view/gerenciarPerfil.html" class="">Perfil</a></li>
          <li><a href="../view/contato.html" class="">Contato</a></li>
         <li><a href="../view/login.html" class="">Sair</a></li>
        </ul>
      </div>
    </div>
  </header> 
  <div class="titulo" alt="titulo">
    <h1>Oportunidades</h1>
    <p>Encontre outras oportunidades de vaga</p>  
      
  </div>
  <form id="form-filtro">
    <label id="labelTipoVaga" for="selectTipoVaga"> Filtrar por tipo de vaga </label>
     <select name="selectTipoVaga" id="selectTipoVaga" onchange="onSelect()">
         <option value="">Tipo de Vagas</option>
         <option value="Efetivo">Efetivo</option>
         <option value="estágio">Estágio</option>
         <option value="temporário">Temporário</option>
         <option value="trainee">Treinee</option>
     </select>
     <label id="labelLocalVaga" for="localVaga"> Filtrar por local </label>
     <select name="localVaga" id="localVaga" onselect="onSelect()">
        <option value="">Local da Vaga</option>
         <option value="saoPaulo">São Paulo</option>
         <option value="riodeJaneiro">Rio de Janeiro</option>
         <option value="florianopolis">Florianópolis</option>
         <option value="sorocaba">Sorocaba</option>
         <option value="bauru">Bauru</option>
     </select>
     <label  id="labelDeptoVaga" for="deptoVaga"> Filtrar por Departamento </label>
     <select name="deptoVaga" id="deptoVaga" onchange="onSelect()">
         <option value="">Departamento</option>
         <option value="comercial">Comercial</option>
         <option value="experienciaUsuario">Experiencia do úsuario</option>
         <option value="desenvolvimento">Desenvolvimento</option>
         <option value="juridico">Jurídico</option>
         <option value="marketing">Marketing </option>
     </select><a href="#" class="filtrar"> <i class="fa fa-search"></i></a>  
     <a href="" type=""></a>
    
    </form>
  <div class="container oportunidadesContainer" id="oportunidadesContainer">
    

  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function(){
      $(".mobile-nav i").click(function(){
          $(".site-nav-menu").toggleClass("mobile-menu");
      });
    })
    
  </script>       
  <script src="../controllers/OportunidadesController.js"></script>
</body>
</html>
