<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/solicitarAberturaVaga.css">
    <title>Solicitação de Abertura de Vaga</title>
</head>
<body>
    <div class="scale-in-center" id="main-container">
        <h1>Solicitar Abertura de Vaga</h1>
        <form id="register-form">
            <div class="half-box spacing">
                 <label for="cargo">Cargo</label>
                 <input type="text" name="cargo" id="cargo" placeholder="Insira o cargo desejado aqui">
             </div>
             <div class="half-box">
                 <label for="requisitos">Requisitos</label>
                 <input type="text" name="requisitos" id="requisitos" placeholder="Insira o requisito desejado">
             </div>
             <div class="half-box spacing">
                <label for="requisitos">Qualificações</label>
                <input type="text name="highschool" class="qualifications" placeholder="Insira a qualificação desejada"/>
             </div>
             <div class="full-box">
                <label for="btn-submit"></label>
                <input type="submit" id="btn-submit" value="Solicitar">
             </div>
        </form>
    </div> 
</body>
</html>